.contacto {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contacto h1 {
    color: #0073e6;
}

.contacto p {
    font-size: 18px;
    line-height: 1.6;
}

.contacto a {
    color: #0073e6;
    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}
